<!--
  Generated template for the ActivitySearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-searchbar #searchbar animated placeholder="Digite a atividade ou curso..."
                   (ionInput)="onSearchInput()"
                   [formControl]="searchControl">
    </ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Puxe para Atualizar">
    </ion-refresher-content>
  </ion-refresher>

  <div text-center class="center" *ngIf="hasActivities() && !hasNetwork">
    <div id="atualizacao-info">
      Última Atualização: {{ activitiesByBuildingRaw.consultedAt | date: 'dd/MM/yyyy H:mm:ss' }} <br>
      Fonte: PROPLAN
    </div>
  </div>

  <!-- SEARCHING -->
  <div *ngIf="isSearching && hasNetwork" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list *ngFor="let building of activitiesByBuilding">
    <ion-list-header *ngIf="building.activities?.length != 0">
      {{ building.name }}
    </ion-list-header>
    <ion-item *ngFor="let activity of building.activities" (click)="openDetails(activity)">
      {{ activity.name }}
      <span *ngIf="searchStatus == 'all'" class="hourLabel"><ion-icon name="time"></ion-icon> {{ activity.hourLabel }}</span>
      <br>
      <small>{{ activity.course.name }} <b>Sala:</b> {{ activity.place.roomNumber }} </small>
    </ion-item>
  </ion-list>

  <div text-center class="center"  *ngIf="searchTerm != '' && hasActivities()" (click)="searchFullDay()">
    <button ion-button round outline>Buscar no dia todo</button>
  </div>

  <!-- NO RESULTS -->
  <div *ngIf="!hasActivities() && hasNetwork && !hasError && !isSearching">
    <div class="center fallback">
      <div text-center>
        <img src="assets/imgs/gifs/no-content/sad-who.gif">
        <p>Não encontramos essa atividade. Aqui vão duas dicas:</p>

        <button ion-button round outline  (click)="searchFullDay()">Buscar no dia todo</button>
        <a target="_blank" href="http://desenvolvimento14.ufcspa.edu.br/" ion-button round>Consultar Site PROPLAN</a>

        <p>Aconselha-se consultar o Apoio de Sala ou PROPLAN pessoalmente.</p>
        <p class="strike">Ou aproveite, a universidade deve estar de férias.</p>
      </div>
    </div>
  </div>

  <!-- ERROR -->
  <div *ngIf="hasError && hasNetwork && !isSearching">
    <div class="center fallback">
      <div text-center>
        <img src="https://media.giphy.com/media/l0OWiMGpoC6apZFXG/giphy.gif">
        <p>Ocorreu um erro interno. Perdão pelo vacilo. Você pode:</p>

        <a target="_blank" href="http://desenvolvimento14.ufcspa.edu.br/" ion-button round>Consultar Site PROPLAN</a>
        <button ion-button round [navPush]="courseSelect">Tentar Novamente</button>
        <button ion-button round [navPush]="courseSelect">Relatar Erro</button>

        <p class="strike">Ou xingar muito no twitter. Baita falta de sacanagem.</p>
      </div>
    </div>
  </div>

  <!-- NO CONNECTION -->
  <div *ngIf="!hasNetwork">
    <div class="center fallback">
      <div text-center>
        <img src="assets/imgs/gifs/offline/dino-dance.gif">
        <p>Houston, perdemos a conexão!</p>

        <button ion-button round [navPush]="activitySearchPage">Tentar Novamente</button>

        <p class="strike">Vai pra redenção. Curte a vida offline.</p>
      </div>
    </div>
  </div>

</ion-content>
