page-activity-search {

  .fallback {
    height: 100%;
  }

  .strike {
    text-decoration: line-through;
  }

  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  #atualizacao-info {
    background-color: #f8f8f8;
    border-radius: 50px;
    padding: 10px;
    width: fit-content;

  }

  .hourLabel {
    color: gray;
    font-size: 14px;
    float: right;
  }

}
