<!--
  Generated template for the ActivityDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ activity.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="activity-details__content">

    <img src="{{ buildingImg }}">
    <div padding class="activity-details__card">
      <span class="activity-details__block-title">Atividade</span>
      <hr>
      <span>{{ activity.name }}</span><br>
      <div *ngIf="activity.description">
        <span class="activity-details__block-title">Descrição</span>
        <hr>
        <span>{{ activity.description }}</span>
      </div>
      <span class="activity-details__block-title">Horário</span>
      <hr>
      <span>{{ activity.hourLabel }}</span>
    </div>

    <div padding class="activity-details__card">
      <span class="activity-details__block-title">Local</span>
      <hr>
      <span>{{ activity.place.building }}</span><br>
      <span><b>Sala: </b> {{ activity.place.roomNumber }} </span><br>
      <span><b>Descrição: </b> {{ activity.place.description }} </span>
    </div>

    <div padding class="activity-details__card">
      <span class="activity-details__block-title">Curso</span>
      <hr>
      <span>{{ activity.course.name }}</span><br>
      <span>{{ activity.course.description }}</span>
    </div>

</ion-content>
