page-activity-details {
  .activity-details__content{
    background-color: #f3f3f3;
  }

  span.activity-details__block-title {
    color: #1a237e;
    font-size: 15px;
  }

  div.activity-details__card{
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
  }
}
