<ion-header>
  <ion-navbar class="app__flex-toolbar"color="primary">
    <ion-title>
      <img class="app__navbar-logo" src="assets/imgs/logo.png">
      Horários
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="home__intro">
    <div text-center>
      <img class="home__calendar" src="assets/imgs/school-bag.png">
      <h3>Seja bem vindo ao UFCSPA Horários!</h3>
      <p>Um Web App independente, desenvolvido por Guilherme Prezzi e Filipe Oliveira, para você pesquisar sua atividade!</p>
      <button ion-button round [navPush]="activitySearchPage">Encontre sua Atividade!</button>
    </div>
  </div>

  <ion-fab right bottom #fab>
    <button ion-fab color="dark" (blur)="closeFab(fab)"><ion-icon name="arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab [navPush]="supportPage"><ion-icon name="help"></ion-icon></button>
      <a target="_blank" href="http://desenvolvimento14.ufcspa.edu.br/" ion-fab><ion-icon name="open"></ion-icon></a>
      <a target="_blank" href="https://spectrum.chat/ufcspa-app" ion-fab><ion-icon name="bug"></ion-icon></a>
    </ion-fab-list>
  </ion-fab>

</ion-content>
