<!--
  Generated template for the SupportPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Suporte e Perguntas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list-collapse>
    <ion-item-collapse title="Quem e Porque?">
      Este é um Web App desenvolvido por Filipe Oliveira, Informática Biomédica - UFCSPA, e Guilherme Prezzi,
      Ciência da Computação - UNISINOS. Desenvolvemos esta aplicação para poder ajudar a comunidade acadêmica
      da UFCSPA, dando ao aluno ou professor a autonomia de pesquisar a atividade que procura.
      Sabemos que as televisões, apesar de serem um grande auxílio, não levam a informação com rapidez
      e ficam espalhadas pelos prédios. Reafirmamos que esta aplicação apenas lê o conteúdo das tevelisões
      que estão passando no momento, não podendo recuperar as atividades de outros momentos do dia.
    </ion-item-collapse>

    <ion-item-collapse title="Qual a taxa de atualização?">
      As televisões atualizam seu conteúdo a cada meia hora. Se sua atividade não está listada você pode esperar,
      este tempo ou consultar o <a target="_blank" href="http://desenvolvimento14.ufcspa.edu.br/">SITE DA PROPLAN</a>
      ou ir pessoalmente ao Apoio de Sala.
    </ion-item-collapse>

    <ion-item-collapse title="O que é a PROPLAN?">
      A PROPLAN é responsável por realizar e acompanhar o Plano de Desenvolvimento Institucional.
      Esta pró-reitoria comanda a Coordenação de Engenharia da universidade, sendo responsável por definir
      a distribuição do espaço físico na instituição. Também é responsável pelo
      Núcleo de Tecnologia da Informação (NTI), bem como pela informatização dos processos.
      A Proplan é ainda o órgão responsável pela avaliação institucional.
    </ion-item-collapse>

    <ion-item-collapse title="Encontrei um erro/Quero Ajuda">
      Se você encontrou uma falha, precisa de ajuda ou gostaria de colaborar, você pode visitar nosso
      <a target="_blank" href="https://spectrum.chat/ufcspa-app">CHAT ONLINE</a> que discute as
      funcionalidades deste Web App.
    </ion-item-collapse>
  </ion-list-collapse>

</ion-content>
